body{
  min-width: 350px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_link{
  display: none;
}

.nav_link-mobile{
  display: flex;
  width: 100%;
  position: relative;
  z-index: 3;
}

.nav_link-mobile ul li{
  display: none;
}


.icon-menu-nav{
  width: 50px;
}

.header_container-search {
  width: 90%;

}