:root {
  --gray: #f1eff4;
  --azul1: #00A8CC;
  --azul2: #0C7B93;
  --azul3: #27496D;
  --azul4: #142850;
  --fondo: #0a0a12;
  --font-sz-md: 1.5rem;
  --font-sz-sm: 1.3rem;
  --h1Title: 6rem;
  --h2Title: 4rem;
  --h3Title: 1.8rem;
}

body{
  min-width: 350px;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.nav_link{
  display: none;
}

.nav_link-mobile{
  height: 50px;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
  /* justify-content: flex-start; */
  width: 100%;
  position: relative;
  z-index: 3;
  top:55px;
  right: -60px;
}

.nav_link-mobile-li{
  background-color: var(--azul1);
  padding: 0px;
  display: flex;
  border-radius: 10px;
  /* justify-content: center; */
  transition: padding 0.5s;
}

.nav_link-mobile-li a{
  font-size: var(--font-sz-md);
  color: var(--gray);
  text-decoration: none;
}

.icon-menu-nav{
  display: flex;
  width: 50px;
  min-width: 50px;
}

.header_container {
  height: 400px;
}

.header_container-search {
  width: 90%;
  height: 100px;
}

.header_most-popular {
  display: none;
}

.contTrending__time {
  max-width: 250px;
}

.container_data section {
  top: -150px;
}

.contTrending__card-img {
  width: 180px;
  height: 280px;
}

.img_slide{
  position: relative;
  left: 0px;
}

.filtros, .filtros p, .filtros select, .filtros input {
  width: 130px;
}

.contSearcher__filtros-filtros button {
  width: 130px;
}

.img_search_box{
  width: 150px !important;
  height: 250px !important;
}

.contTrending__card a {
  width: 150px;
}

.article_search_box{
  width: 150px !important;
  margin-right: 10px !important;
}

.movieDetails_container-background {
  height: 90%;
}

.movieDetails_containerOsc {
  flex-direction: column;
  height: 90%;
  padding: 20px 15px 15px 15px;
  overflow: scroll;
  
}

.movieDetails_containerOsc-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 20px;
  position: relative;
  z-index: 8;
}

/* Div contiene icon */
#icon_cerrar_popup_mob{
  display: flex;
  justify-content: end;
}

.icon_cerrar_popup_des{
  display: none;
}

.icon_cerrar_popup_mob{
  display: flex;
}

.icon_cerrar_popup{
  right: 0px;
  top: -10px;
}

.movieDetails_containerOsc-left{
  gap: 0px;
}

.movieDetails_img{
  margin-top: 20px;
  max-width: 250px;
}

.movieDetails_containerOsc-center {
  width: 100%;
}

.movieDetails_containerOsc-center-top {
  gap: 30px;
  margin-bottom: 20px;
}

.movieDetails_produccionPeli-comp {
  width: 250px;
}

.movieDetails_play {
  right: 0px;
  bottom: 0px;
  margin-bottom: 15px;
  margin-top: 20px;
}

footer div img {
  width: 150px;
}